<!DOCTYPE html>
<html lang=”it-IT”>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="http://materializecss.com/images/favicon/favicon-32x32.png" type="image/x-icon">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">
</head>

<body class='center'>
<style>
    body {
        margin-top:0.3em
    }
    .center {
        margin: auto;
        width: 90%;
        padding: 10px;
    }
    h3 {
        color: #8e060a;
        font-weight: bold;
    }
</style>
<h3>Errore durante il reset della password!</h3>
<h4>Ripeti la procedura</h4>
</body>
</html>